HOST=0.0.0.0
PORT=1337
APP_KEYS=j8azQyFJTUDpNvn5i4HqSA==,wRWWJxFQWufmvEmWyr2Lgw==,9V+FSD/hd3c7pED+xMMvJw==,YSMdXi3+AyEaIO1md90TTQ==
API_TOKEN_SALT=A0oXEPfbeS8c4UAmSCKIbg==
ADMIN_JWT_SECRET=gqR5wBKet+okfqTyUgfUkg==
TRANSFER_TOKEN_SALT=9qeRLSxS2pYT0aOqih0ToA==
# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=
DATABASE_PORT=3306
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=kre5NMkJaI+A5qVxdd8OOQ==
AUTH_SECRET_KEY=
SUITE_API=